nav {
  width: 99%;
  height: 10vh;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    li {
      transition: 2s;
      &:hover{
        transform: scale(1.4);
      }


      a {
        color: #fff;
        padding: 5px 10px;
  
        &:hover {
          color: black;
          background-color: #fff;
          border-radius: 5px;
    
        }
      }
    }
  }
}
