/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  text-decoration: none;
  list-style: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  width: 99%;
  height: 10vh;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}
nav ul li a {
  color: #fff;
}
nav ul li a:hover {
  color: black;
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
  transform: scale(1.5);
}

.common {
  width: 99%;
  height: 100vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-top: 12vh;
  margin-bottom: 4vh;
}
.common .box {
  width: 190px;
  height: 190px;
  border: 1px dashed black;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.2s;
}
.common .box:hover h1 {
  display: none;
}
.common .box:hover:nth-child(1) {
  background-image: url(../Image/image1.webp);
  background-size: cover;
  transform: rotateX(360deg);
}
.common .box:hover:nth-child(2) {
  background-image: url(../Image/image2.jpg);
  background-size: cover;
  transform: rotateX(360deg);
}
.common .box:hover:nth-child(3) {
  background-image: url(../Image/image3.jpg);
  background-size: cover;
  transform: rotateX(360deg);
}

.container {
  width: 99%;
  height: 54vh;
  background-color: azure;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.container .first ul {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.container .first ul li {
  color: grey;
}
.container .first ul li h1 {
  font-weight: 700;
  color: black;
}
.container .seconds ul {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.container .seconds ul li {
  color: grey;
}
.container .seconds ul li h1 {
  font-weight: 700;
  color: black;
}
.container .third ul {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
.container .third ul li {
  color: grey;
}
.container .third ul li h1 {
  font-weight: 700;
  color: black;
}
.container .third ul li a {
  color: gray;
}/*# sourceMappingURL=style.css.map */