#sec1 {
    width: 100%;
    height: 100vh;
 

.bgc{
    background-image: url(../images/Beautiful-Background-Images-022.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 8vh;
}
}
