#sec1 {
 
  h1 {
    text-align: center;
    border-bottom: 2px solid rgb(163, 109, 8);
    max-width: 100px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row {
    .box {
      &:hover {
        animation: rotation 1s linear;
        background-image: url(../images/minions.jpeg);
        background-size: cover;
        @keyframes rotation {
          0% {
            transform: rotateX(0deg);
          }
          50% {
            transform: rotateX(90deg);
          }
          0% {
            transform: rotateX(0deg);
          }
        }
        p {
          display: none;
        }
      }
    }
  }
}
